<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692159214672-4c5gu94oitnsb46k5id5jtng64feelsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692159214672-4c5gu94oitnsb46k5id5jtng64feelsi</string>
	<key>API_KEY</key>
	<string>AIzaSyAlh0zViqWrBYdlrXFvb506SIR2ecVbXQA</string>
	<key>GCM_SENDER_ID</key>
	<string>692159214672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paccoApp</string>
	<key>PROJECT_ID</key>
	<string>pacco-e3efe</string>
	<key>STORAGE_BUCKET</key>
	<string>pacco-e3efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692159214672:ios:89fb797a470b70f0</string>
	<key>DATABASE_URL</key>
	<string>https://pacco-e3efe.firebaseio.com</string>
</dict>
</plist>